button.wlbtn:hover {
  box-shadow: -1px 3px 8px #1c2fc3;
}

button.wlbtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background: #2444b3;
  padding: 2px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  box-shadow: -1px 3px 8px #2535ad;
  cursor: pointer;
}

.wrap-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}
