<div class="sidebar">
    <div class="sidebar_inner" data-simplebar>

        <ul class="side-colored">
            <li class="active"><a routerLink="/">
                <i class="fa fa-home bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500" aria-hidden="true"></i>
                    <span> Khám phá</span>
                </a>
            </li>
            <li><a routerLink="/course">
                    <i name="play-circle" class="fa fa-graduation-cap bg-gradient-to-br from-yellow-300 p-1 rounded-md side-icon text-opacity-80 text-white to-red-500">
                    </i>
                    <span> Khóa học</span>
                </a>
            </li>
            <li><a routerLink="/book">
                    <i name="book" class="fa fa-book bg-gradient-to-br from-yellow-300 p-1 rounded-md side-icon text-opacity-80 text-white to-red-500">
                    </i>
                    <span> Sách </span>
                </a>
            </li>
            <li><a routerLink="/blog">
                    <i name="newspaper" class="fa fa-newspaper-o bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
                    </i>
                    <span> Tin tức</span>
                </a>
            </li>
            <li><a routerLink="/chat">
                <i name="newspaper" class="fa fa-comment bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
                </i>
                <span> Trò chuyện</span>
            </a>
            </li>
            <li><a routerLink="/cart">
              <i name="newspaper" class="fa fa-shopping-cart bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
              </i>
              <span> Giỏ hàng</span>
          </a>
          </li>
        </ul>

        <ul class="side_links">
            <li><a href="/"> <i class="side-icon fa fa-file-text-o"></i> Chính sách  </a></li>
            <li><a href="/"> <i class="side-icon fa fa-info-circle"></i> Trợ giúp  </a></li>
            <li><a href="/"> <i class="side-icon fa fa-cog"></i> Cài đặt </a></li>
        </ul>

        <div class="side_foot_links">
            <a href="#">About</a>
            <a href="#">Blog </a>
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Contact Us </a>
            <a href="#">Developer</a>
            <a href="#">Terms of service</a>
        </div>

    </div>

    <div class="side_overly" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></div>
</div>
