ul.side-colored li a i {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 17px!important;
  justify-content: center;
  align-items: center;
}

.simplebar-content {
  height: 100vh!important;
}

ul.side_links li a i {
  font-size: 15px!important;
}