.coursesearch input {
  display: block;
  flex: 7;
  border: 1px solid #eae9e9!important;
  border-radius: 26px!important;
  padding: 4px 20px!important;
  margin-bottom: 20px;
  margin-top: -37px!important;
}

.coursesearch button {
  background: transparent;
    margin-top: -56px;
    padding: 12px 20px !important;
    color: #454545 !important;
    margin-left: -8%;
    font-size: 15px;
}
