<h1 class="my-6 text-lg font-bold text-gray-700 dark:text-gray-300">Cập nhật khóa học</h1>
<h3 class="my-6 text-lg font-bold text-gray-400 mt-0 dark:text-gray-300">Chỉnh sửa thông tin khóa học cơ bản</h3>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cập nhật ảnh khóa học</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form (ngSubmit)="submitCreateImage()">
  <div class="modal-body">
    
        <label class="block text-gray-700 text-sm font-bold mb-2">Ảnh khóa học</label>
          <input 
              formControlName="file"
              id="file" 
              type="file" 
              class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
              (change)="onFileChange($event)" />
              <small>Vui lòng upload định dạng (.jpg, .jpeg hoặc .png)</small>

              <img [src]="imageSrc" *ngIf="imageSrc">
    
  </div>
  <div class="modal-footer">
    <button type="submit" class="rounded-md inline-block align-baseline text-sm text-white bg-green-500 hover:text-blue-800 px-4 py-1" (click)="modal.close('Save click')">Cập nhật</button>
  </div>
</form>
</ng-template>

<div class="container">

    <form (ngSubmit)="onSubmit()" class="hct-form">
      
    <div class="flex">
        <div class="w-2/3">
            <div class="row justify-content-center mt-5">
                <div class="col-md-4i">
                  
                    <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Tiêu đề</label>
                      <input
                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                        type="text" [(ngModel)]="item.name" name="name" required placeholder="Nhập tiêu đề khóa học">
                        <small>Hãy nhập tiêu đề trên 50 ký tự để người dùng dễ dàng tìm kiếm khóa học của bạn.</small>
                    </div>
                    
                    <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Mô tả ngắn</label>
                      <textarea
                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                        type="text" [(ngModel)]="item.description" name="description" required rows="5"></textarea>
                        <small>Nhập mô tả để người dùng hiểu hơn và chọn khóa học của bạn.</small>
                    </div>
            
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Link giới thiệu khóa học (Youtube)</label>
                        <input
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="text" [(ngModel)]="item.urlYoutubeVideo" name="urlYoutubeVideo" required>
                          <small>Nếu bạn upload video giới thiệu lên có thể bỏ qua trường này.</small>
                      </div>
            
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Thông báo về khóa học</label>
                        <!-- <textarea
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="text" formControlName="announcement" required rows="5"></textarea> -->
                          <angular-editor [(ngModel)]="item.announcement" name="announcement" [config]="editorConfig2"></angular-editor>
                          <small>Thêm một vài thông báo về khóa học (nếu có, ví dụ thời gian bắt đầu khóa học,..)</small>
                      </div>
            
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Nội dung khóa học</label>
                        <!-- <textarea
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="text" formControlName="content" rows="8" required></textarea> -->
                          <angular-editor [(ngModel)]="item.content" name="content" [config]="editorConfig"></angular-editor>
                          <small>Nhập giới thiệu chi tiết về khóa học của bạn.</small>
                      </div>
            
                    <div class="mb-4">
                      <button
                        class="rounded-md inline-block align-baseline text-sm text-white bg-green-500 hover:text-blue-800 px-4 py-1"
                        type="submit">Xuất bản</button>
                    </div>
                </div>
              </div>
        </div>
        <div class="w-1/3 ml-5">
          <label class="block text-gray-700 text-sm font-bold mb-2">Ảnh khóa học</label>
          <img src="{{baseUrl}}/courses/images/{{item.urlImage}}" alt="" class="edit-image">
          <a (click)="open(mymodal)" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Thay đổi ảnh</a>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4i">
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Danh mục</label>
                    <select [(ngModel)]="item.courseCategoryId" name="courseCategoryId" class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline">
                        <option *ngFor="let cat of courseCategories" [ngValue]="cat.id" >{{cat.name}}</option>
                    </select>
                    <small>Chọn danh mục để người dùng tìm khóa học của bạn dễ dàng hơn.</small>
                  </div>

                    <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Ngôn ngữ</label>
                        <select  [(ngModel)]="item.language" name="language" class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline">
                          <option [value]="lang" *ngFor="let lang of langs">{{lang}}</option>
                        </select>
                        <small>Hãy chi tiết đến học viên của bạn rằng khóa học được dậy bằng ngôn ngữ gì</small>
                    </div>
                    <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Giá khóa học</label>
                      <input
                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                        type="number" [(ngModel)]="item.price" name="price" required>
                        <small>Hãy để giá trị <b>0</b> nếu khóa học này <b>Miễn phí</b></small>
                    </div>

                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Giá gốc (Trước khi giảm giá)</label>
                        <input
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="number" [(ngModel)]="item.originalPrice" name="originalPrice" required>
                        <small>Trước khi hình thành giá bán, giá gốc trước giảm giá bao nhiêu. Hãy để giá trị <b>0</b> khi <b>không có giá gốc.</b></small>
                      </div>
            
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Đơn vị giá</label>
                          <select [(ngModel)]="item.priceUnit" name="priceUnit" class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline">
                            <option *ngFor="let unit of priceUnits" [value]="unit.unit">{{unit.unit}} ({{unit.description}})</option>
                          </select>
                          <small>Chọn đơn vị tiền tệ phù hợp với giá khóa học của bạn.</small>
                      </div>
            
                      <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Ngày bắt đầu khóa học</label>
                        <input
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="datetime-local" [(ngModel)]="item.startDate" name="startDate" required>
                      </div>

                      <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Ngày kết thúc khóa học</label>
                        <input
                          class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
                          type="datetime-local" [(ngModel)]="item.endDate" name="endDate" required>
                      </div>
                </div>
              </div>
        </div>
    </div>
</form>
</div>

<a routerLink="/admin/course/index"
  class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Back to list</a>