<div class="main_content">
  <lib-toastify-toast-container [autoClose]="5000"
              [iconLibrary]="'font-awesome'"
              ></lib-toastify-toast-container>
    <div class="container">

        <h3 class="text-2xl font-medium mb-5"> Thiết lập </h3>

        <nav class="cd-secondary-nav border-b md:m-0 -mx-4 nav-small">
          <ul>
              <li><a routerLink="/profile" class="lg:px-2">Thông tin cá nhân </a></li>
              <li class="active"><a routerLink="/profile/change-password" class="lg:px-2"> Đổi mật khẩu </a></li>
              <li><a href="#" class="lg:px-2"> Thông tin thanh toán </a></li>
          </ul>
      </nav>

        <!-- Change Password -->
        <div class="grid lg:grid-cols-3 gap-8 md:mt-12">
            <div>
                <div uk-sticky="offset:100;bottom:true;media:992">
                    <h3 class="text-lg mb-2 font-semibold"> Đổi mật khẩu</h3>
                    <p>
                      Cập nhật mật khẩu thường xuyên để bảo vệ tài khoản của bạn.
                    </p>
                </div>
            </div>
            <div class="bg-white rounded-md lg:shadow-md shadow col-span-2">
              <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="lg:p-6 p-4 space-y-4">
                    <div>
                        <label for="current_password"> Reset Code</label>
                        <input type="text" placeholder="xxxx" formControlName="code" id="current_password" class="shadow-none with-border">
                    </div>
                    <small>Nếu chưa có mã, hãy nhấn <a (click)="requestChangePassword()" style="cursor: pointer;"> <b> <i class="fa fa-envelope pr-1"></i> Yêu cầu mã tại đây.</b></a></small>
                    <div>
                        <label for="new_password"> New password</label>
                        <input type="password" placeholder="" formControlName="newPassword" id="new_password" class="shadow-none with-border">
                    </div>
                    <div>
                        <label for="confirm_new_password"> Confirm new password</label>
                        <input type="password" placeholder="" formControlName="confirmPassword" id="confirm_new_password" class="shadow-none with-border">
                    </div>
                    <div>
                      <button class="flex items-center justify-center h-9 px-6 rounded-md bg-blue-600 text-white"
                      type="submit">Cập Nhật Mật Khẩu</button>
                    </div>
                </div>
              </form>
            </div>
        </div>


    </div>
</div>
