<div class="main_content">
    <div class="container">

        <h3 class="text-2xl font-medium mb-5"> General Setting </h3>

        <nav class="cd-secondary-nav border-b md:m-0 -mx-4 nav-small">
            <ul>
                <li><a href="#" class="lg:px-2">General </a></li>
                <li><a href="#" class="lg:px-2"> Profile </a></li>
                <li><a href="#" class="lg:px-2"> Privacy </a></li>
                <li><a href="#" class="lg:px-2"> Notification </a></li>
                <li><a href="#" class="lg:px-2"> Social links </a></li>
                <li><a href="#" class="lg:px-2"> Billing </a></li>
                <li class="active"><a href="#" class="lg:px-2"> Change password </a></li>
            </ul>
        </nav>
        
        <!-- Change Password -->
        <div class="grid lg:grid-cols-3 gap-8 md:mt-12">
            <div>
                <div uk-sticky="offset:100;bottom:true;media:992">
                    <h3 class="text-lg mb-2 font-semibold"> Password</h3>
                    <p> Lorem ipsum dolor sit amet nibh consectetuer adipiscing elit</p>
                </div>
            </div>
            <div class="bg-white rounded-md lg:shadow-md shadow col-span-2">
                
                <div class="lg:p-6 p-4 space-y-4">
                    <div>
                        <label for="current_password"> Current password</label>
                        <input type="text" placeholder="" id="current_password" class="shadow-none with-border">
                    </div>
                    <div>
                        <label for="new_password"> New password</label>
                        <input type="text" placeholder="" id="new_password" class="shadow-none with-border">
                    </div>
                    <div>
                        <label for="confirm_new_password"> Confirm new password</label>
                        <input type="text" placeholder="" id="confirm_new_password" class="shadow-none with-border">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>