.chat-wrapper {
    border: 1px solid #efefef;
    height: calc(100vh - 132px);
    border-radius: 5px;
    display: flex;
}
.chat-bar {
    width: 30%;
    float: left;
    overflow: hidden;
}
.chat-bar-header {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
}
.chat-bar-header h3 {
    font-size: 1.35em;
    font-weight: 500;
    color: #4e4e4e;
}
.chat-bar-action {
    display: flex;
}
.chat-bar-action a {
    width: 30px;
    margin-left: 4px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #7e7e7e;
    padding-top: 2px;
}
.chat-bar-body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-x: hidden;
}

/* width */
.chat-bar-body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .chat-bar-body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .chat-bar-body::-webkit-scrollbar-thumb {
    background: #fafafa;
  }
  
  /* Handle on hover */
  .chat-bar-body::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }

li.chat-item a {
    display: flex;
    padding: 10px 15px;
    /* border-bottom: 1px solid #f9f9f9; */
}

.chat-item__avatar {
    margin-right: 10px;
    display: block;
    clear: both;
}
ul.list-chat-items img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.chat-item__body {
    display: flex;
    justify-content: space-around;
}
.chat-item__body-left {
    flex: 7;
}
.chat-item__body-left h5 {
    font-weight: 600;
    color: #565656;
    font-size: .9em;
}
.chat-item__body-left p {
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.chat-item__body-right {
    width: 27px;
    font-size: .7em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #b5b5b5;
    padding-bottom: 4px;
}

.chat-item__body {
    flex: 7;
}

.chat-main.no-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 7;
}
.no-message-container img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.lead p {
    font-size: .8em;
}

.chat-search-bar {
    box-sizing: border-box;
    margin: 11px;
}
.chat-search-bar input {
    border: 1px solid #e7e7e7!important;
    box-sizing: border-box;
    font-size: .8em!important;
    padding: 7px 10px!important;
    height: 38px!important;
    border-radius: 5px!important;
}

.chat-bar {
    border-right: 1px solid #f5f5f5;
}

li.chat-item:hover, li.chat-item:focus{
    background: #f7f7f7;
}

.chat-item__avatar img {
    border-radius: 50%;
}

.chat-item__avatar .badge {
    position: absolute;
    right: -1px;
    bottom: 0px;
    background: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 10px;
    height: 10px;
    color: white;
}

.chat-item__avatar {
    position: relative;
}

.chat-item__body-left h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

h6.room-div {
    font-size: .8rem;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: #585858;
}