<h1 class="my-6 text-lg font-bold text-gray-700 dark:text-gray-300">Thêm mới bài viết</h1>

<div class="container w-100">
  
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="hct-form">
        <div class="flex">
          <div class="w-2/3">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Tiêu đề</label>
              <input
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text" formControlName="title" required placeholder="Nhập tiêu đề bài viết...">
                <small>Hãy nhập tiêu đề trên 50 ký tự để người dùng dễ dàng tìm kiếm bài viết của bạn.</small>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Mô tả ngắn</label>
              <textarea
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text" formControlName="description" required></textarea>
                <small>Nhập mô tả để bài viết dễ dàng SEO trên top Google.</small>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Nội dung bài viết</label>
              <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
            </div>
          </div>
          <div class="w-1/3 ml-5">
            <label class="block text-gray-700 text-sm font-bold mb-2">Ảnh bài viết</label>
          <input 
              formControlName="file"
              id="file" 
              type="file" 
              class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline"
              (change)="onFileChange($event)" />
              <small>Vui lòng upload định dạng (.jpg, .jpeg hoặc .png)</small>

              <img [src]="imageSrc" *ngIf="imageSrc">

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Danh mục</label>
                <select formControlName="blogCategoryId" class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline">
                    <option *ngFor="let cat of blogCategories" [ngValue]="cat.id" >{{cat.name}}</option>
                </select>
                <small>Chọn danh mục để người dùng tìm bài viết của bạn dễ dàng hơn.</small>
              </div>
          </div>
          </div>
        

        <div class="mb-4">
          <button
            class="rounded-md inline-block align-baseline text-sm text-white bg-green-500 hover:text-blue-800 px-4 py-1"
            type="submit">Xuất bản</button>
        </div>
      </form>

</div>

<a routerLink="/admin/blog/index"
  class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Back to list</a>