.auth-conf input {
    background-color: #f3f4f6 !important;
}

div.err, span.err {
    color: #d40202;
    font-size: .9em;
    display: block;
    font-weight: 500;
}

input.err {
    border: 1px solid #ff000057!important;
}

img.btn-loading {
    display: inline-block;
    width: 28px;
}