body {
  margin: 0;
  padding: 0;
    font-family: Inter, "Open Sans", sans-serif;
}

.simplebar-content {
  height: 100vh!important;
}

.side_foot_links {
  position: absolute;
  bottom: 0;
  padding: 20px;
  margin: 10px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


modal-popup {
  /* modals are hidden by default */
  display: none;

  .modal-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 50vw;
    min-width: 300px;
    width: 50vw;
    margin: auto;
    min-height: 300px;
    z-index: 9999;
    overflow: auto;

      .modal-popup-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
          border-radius: 8px;
      }
  }

  .modal-popup-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;
      z-index: 9998;
  }
}

body.modal-popup-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
.modal__header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.modal__header h3 {
  color: #767676;
  font-weight: 600;
}
.modal__footer {
  border-top: 1px solid #efefef;
  margin-top: 15px;
  padding-top: 10px;
}

