<h1 class="my-6 text-lg font-bold text-gray-700 dark:text-gray-300">Users management</h1>
<lib-toastify-toast-container [autoClose]="3000"
              [iconLibrary]="'font-awesome'"
              ></lib-toastify-toast-container>
<div class="flex justify-between filter-bar">
  <div>
    Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
  </div>
  <div>
    <input type="text" class="w-96 form-input px-4 py-2 border border-gray-200" placeholder="Nhập từ khóa để tìm kiếm..." (input)="handleSearch($event)">
  </div>
  <div>
    <!-- <a routerLink="/admin/blog-category/create" class="align-bottom inline-flex items-center justify-center cursor-pointer leading-5 transition-colors duration-150 font-medium focus:outline-none px-3 py-1 rounded-md text-xs text-white bg-green-500 border border-transparent active:bg-green-600 hover:bg-green-600 focus:ring focus:ring-purple-300">
      Thêm mới
    </a> -->
  </div>

</div>

<div
    class="w-full overflow-hidden border border-gray-200 dark:border-gray-700 rounded-lg ring-black ring-opacity-5 mb-8 rounded-b-lg">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b border-gray-200 dark:border-gray-700 bg-gray-100 dark:text-gray-400 dark:bg-gray-800">
                <tr>
                    <td class="px-4 py-3" style="width: 45px">Id</td>
                    <td class="px-4 py-3">Name</td>
                    <td class="px-4 py-3">Email</td>
                    <td class="px-4 py-3">Date Joined</td>
                    <td class="px-4 py-3">Email Confirmed</td>
                    <td class="px-4 py-3">Status</td>
                    <td class="px-4 py-3">Actions</td>
                </tr>
            </thead>
            <tbody
                class="bg-white divide-y divide-gray-100 dark:divide-gray-700 dark:bg-gray-800 text-gray-700 dark:text-gray-400">
                <tr *ngFor="let item of users | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems }">
                  <td class="px-4 py-3">
                    <button (click)="copy(item.id)"><i class="fa fa-copy"></i></button>
                  </td>
                    <td class="px-4 py-3 d-flex">
                      <div class="relative rounded-full inline-block w-8 h-8 hidden p-1 mr-2 md:block bg-gray-50 shadow-none mt-2">
                        <img *ngIf="item.avatarUrl != null" src="{{baseUrl}}/users/avatars/{{item.avatarUrl}}" alt="" class="object-cover w-full h-full rounded-full">
                        <img *ngIf="item.avatarUrl == null" src="./../../../../../assets/client/assets/images/avatars/placeholder.png" alt="" class="object-cover w-full h-full rounded-full">
                      </div>
                      <div>
                        <span class="text-sm"><b>{{item.firstName}} {{item.lastName}}</b></span> <br>
                        <span class="text-sm">@{{item.username}}</span>
                      </div>
                    </td>
                    <td class="px-4 py-3"><span class="text-sm">{{item.email}}</span></td>
                    <td class="px-4 py-3"><span class="text-sm">{{item.joinedDate | date: 'dd/MM/yyyy' : 'UTC' }}</span></td>
                    <td class="px-4 py-3">
                      <span *ngIf="item.emailConfirmation != null" class="inline-flex px-2 text-xs font-medium leading-5 rounded-full text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-100">
                        ✓ Confirmed
                      </span>
                      <span *ngIf="item.emailConfirmation == null" class="inline-flex px-2 text-xs font-medium leading-5 rounded-full text-red-500 bg-red-100 dark:text-red-100 dark:bg-red-800">
                        ✕ Unconfirmed
                      </span>
                    </td>
                    <td class="px-4 py-3">
                      <span *ngIf="item.isActive === true" class="inline-flex px-2 text-xs font-medium leading-5 rounded-full text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-100">
                        ✓ Active
                      </span>
                      <span *ngIf="item.isActive === false" class="inline-flex px-2 text-xs font-medium leading-5 rounded-full text-red-500 bg-red-100 dark:text-red-100 dark:bg-red-800">
                        ✕ InActive
                      </span>
                    </td>
                    <td class="px-4 py-3">
                      <span class="inline-flex px-2 text-xs font-medium leading-5 rounded-full text-red-500 bg-red-100 dark:text-red-100 dark:bg-red-800">
                        <a href="#">
                          <i class="fa fa-lock"></i>
                          <span class="text-sm pl-2">Lock</span>
                        </a>
                      </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>
