.centered, p.large.centered {
  text-align: center;
}

.content {
  padding: 65px 0 65px 0;
  position: relative;
}

#error {
  z-index: 9999;
  background: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error img {
  margin: 0 auto;
}
